@charset "UTF-8";

ul#album-fotos{
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}

ul#album-fotos li {
    float:left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
    font-size: 9pt;
    -webkit-transition: all .4s ease-in;
}

ul#album-fotos li span{
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px;
    background-color: rgba(0,0,0,.3);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}

ul#album-fotos li:hover{
    -webkit-transform: scale(1.5);
}

ul#album-fotos li:hover span{
    opacity: 1;
}


ul#album-fotos li#foto-01{
background: url('../_imagens/tela-de-notebook-troca.png') no-repeat;
background-position: 50% 50%;
background-size: 405px 405px;
background-color: #ffffff;
}
ul#album-fotos li#foto-01:hover{
    background-position: 0% 0%;
    background-size: 202px 202px;
}
ul#album-fotos li#foto-02{
background: url('../_imagens/tela-tablet.jpg') no-repeat;
background-position: 50% 50%;
background-size: 402px 402px;
background-color: #ffffff;
}
ul#album-fotos li#foto-02:hover{
    background-position: 0% 0%;
    background-size: 201px 201px;
}

ul#album-fotos li#foto-03{
background: url('../_imagens/manutencao3.png') no-repeat;
background-position: 50% 50%;
background-size: 300px 300px;
background-color: #ffffff;
}
ul#album-fotos li#foto-03:hover{
    background-position: 0% 0%;
    background-size: 201px 201px;
}

ul#album-fotos li#foto-04{
background: url('../_imagens/virus-pc.png') no-repeat;
background-position: 50% 50%;
background-size: 625px 625px;
background-color: #ffffff;
}
ul#album-fotos li#foto-04:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
}
ul#album-fotos li#foto-05{
background: url('../_imagens/acesso-internet.jpg') no-repeat;
background-position: 50% 50%;
background-size: 580px 580px;
background-color: #ffffff;
}
ul#album-fotos li#foto-05:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
}
ul#album-fotos li#foto-06{
background: url('../_imagens/impressao.jpg') no-repeat;
background-position: 50% 50%;
background-size: 352px 360px;
background-color: #ffffff;
}
ul#album-fotos li#foto-06:hover{
    background-position: 0% 0%;
    background-size: 200px 204px;
}
