@Charset "UTF-8";
/*configurando tela de login*/

.modal-header h1{
 text-align: center;
}
.modal-body{
	/*position: relative;*/
}

#loginModal{
color: red;
border: 8px solid white;
box-shadow: 1px 1px 4px black;
padding: 3px;
width: 20%;
margin: 0 auto;

}

#div-campo-senha{
	padding: 3px;
	width: 85%;
	margin: 0 auto;
}

#div-campo-usuario{
	padding: 3px;
	width: 85%;
	margin: 0 auto;
}
#div-botao{
	padding: 3px;
	width: 40%;
	margin: 0 auto;
	 
}